﻿table {
       width:20%;
       margin:auto;
       border-collapse:collapse;
       background-color:grey;

}

td{
            border:0px;
            border-style:solid;
            border-color:gray;
            padding:20px;
            margin:20px;
            overflow:hidden;
}

